[submodule "monograph/proposal/utilities"]
	path = monograph/proposal/utilities
	url = https://github.com/evandrocoan/latex_utilities
[submodule "monograph/scripts"]
	path = monograph/scripts
	url = https://github.com/evandrocoan/script_utilities
[submodule "code/lark-parser"]
	path = source/pushdown
	url = https://github.com/evandroforks/pushdown
[submodule "monograph/thesis/setup"]
	path = monograph/thesis/setup
	url = https://github.com/evandrocoan/ufscthesisx-setup
