
*.driveupload
/_gsdata_

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*nppBackup
*.db
*.stackdump
*.h.gch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.pyc
*.app
*.sublime-workspace

/source/main_formatter.html
/source/main_formatter_abstract_syntax_tree.png
/source/main_formatter_syntax_tree.png
/source/main_highlighter.html
/source/main_highlighter_abstract_syntax_tree.png
/source/main_highlighter_syntax_tree.png
