

*.pdf

*.aux
*.bbl
*.log
*.out
*.toc
*.dvi

*.blg
*.gz(busy)
*.synctex(busy)
*.synctex.gz
*.fdb_latexmk
*.fls

*.mw
*.idx
*.tpc
*.brf
*.ilg
*.ind

*.lot
*.lof
*.lol

*.run.xml
*.bcf
*.cut

